<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Website</title>
  <style>
    /* Navbar styles */
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #333;
      padding: 1rem 2rem;
    }

    nav .logo {
      color: #fff;
      font-size: 1.5rem;
      font-weight: bold;
      text-transform: uppercase;
    }

    nav ul {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;
    }

    nav ul li {
      margin: 0 1rem;
    }

    nav ul li a {
      text-decoration: none;
      color: #fff;
      font-size: 1rem;
      transition: color 0.3s;
    }

    nav ul li a:hover {
      color: #00bcd4;
    }
    /* Button styles */
    .button {
      margin-left: 10px;
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    color: buttontext;
    background-color: buttonface;
    text-decoration: none;
}
  </style>
</head>

<body>
  <nav>
    <div class="logo">MySite</div>
    <ul>
      <li><a href="http://localhost:3000/comments">Home</a></li>
      <li><a href="http://localhost:3000/comments/new">New Request</a></li>
      <!-- <li><a href="#">N/A</a></li> -->
    </ul>
  </nav>